{% extends "layout.njk" %}

{% block head %}

    <title>Rocketseat - Cursos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="content">
        
        <div class="courses">

            {% for course in courses %}
            
                <div class="card_course" id="{{course.id}}">
                    <div class="card_logo">
                        <img src="{{course.logo_img}}" alt="">
                    </div>
                    <div class="card_footer">
                        <div class="card_modules">
                            <p class="modules">{{course.modules}}</p>
                            <p class="modulesTxt">Módulos</p>
                        </div>
                        <div class="card_info">
                            <p>{{course.price_type}}</p>
                            <p>R$ {{course.price}}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

    <script src="/scripts.js"></script>
    
{% endblock %}