{% extends "layout.njk" %}

{% block head %}

    <title>Rocketseat - Sobre</title>

{% endblock %}


{% block content %}
    <div class="content">
        <div id="logo">
            <img src="{{ about.avatar_url }}" alt="Rocketseat">
        </div>
        
        <h1>{{ about.title }}</h1><br>

        <p>{{ about.desc }}</p><br>
        
        <h3>Principais tecnologias:</h3><br>

        <div class="technologies">

            {% for technology in about.technologies%}
                <div class="technology">
                    <i class="{{ technology.icon_class }}"></i>
                    <p>{{ technology.title }}</p>
                </div>     
            {% endfor %}       

        </div>


        
    </div>
{% endblock %}