{% extends "layout.njk" %}

{% block content %}

    <div class="error404center">
        <img id="error404" src="https://novaescola.org.br/imagens/erro404.png" alt="">
        <p>Página não encontrada!</p>
    </div>
    

{% endblock %}