@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

:root {
    --primary: #4682FC;
    --secondary: #7bf1a8;
    --background: #232937;
    --text: #3c3f42;
    --title: #4b5157;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

header {
    background-color: var(--primary);
    width: 100%;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

header a {
    margin-left: 32px;
}

header a:first-child {
    margin-left: 0;
}

header .menuItem {
    position: relative;
}

header .menuItem::after {
    content: "";
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 5px;
    background-color: var(--secondary);
    left: -10%;
    bottom: -32px;
    transition: width ease-in-out 0.3s;
}

header .menuItem:hover::after {
    content: "";
    position: absolute;
    visibility: visible;
    width: 120%;
    height: 5px;
    background-color: var(--secondary);
    left: -10%;
    bottom: -32px;
    transition: width ease-in-out 0.3s;
}

header a {
    color: white;
    text-decoration: none;
}

header a.active p,
header a.active .menuItem {
    font-weight: bold;
    color: var(--secondary);
}

header .menuItem:hover,
header .menuItem:hover a {
    cursor: pointer;
    color: var(--secondary);
}

/* -------------------------------------------------------------------------- */
/*                                    CARD                                    */
/* -------------------------------------------------------------------------- */

.card {
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    position: relative;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
    animation: up 700ms ease-out;
}

.card section.avatar {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 100px;
}

.card section.details {
    width: 500px;
    min-height: 500px;
    position: relative;
    right: 0;
    background-color: white;
    color: black;
    padding: 16px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

.details-wrap {
    filter: drop-shadow(8px 0px 4px rgba(0, 0, 0, 0.7));
}

.card section.details div.details-content {
    padding-right: 100px;
}

.card section.details div.details-content h1, h2, h3 {
    color: var(--primary);
    line-height: 38px;
}

.card section.details div.details-content p {
    color: var(--text);
}


@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* -------------------------------------------------------------------------- */
/*                                DETAILS ITEMS                               */
/* -------------------------------------------------------------------------- */

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
    color: var(--title);
}

.details .item div:nth-child(2) {
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
}

.subject,
.details .item span {
    padding: 8px 16px;
    background-color: var(--primary);
    border-radius: 8px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-size: 16px;
}

.subject:last-child,
.details .item span:last-child {
    margin-right: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    FORM                                    */
/* -------------------------------------------------------------------------- */

form input {
    width: 100%;
    outline: none;
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
}

form input[type="radio"] {
    width: initial;
}

form input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

form button[type="submit"],
a.button,
#newBtn {
    padding: 12px 32px;
    background-color: var(--secondary);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: block;
    box-sizing: border-box;
    z-index: 1;
}

a.button {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color:  #fb8c00;
}

form button[type="submit"]::after,
a.button::after,
#newBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 4px;
    text-align: center;
    z-index: -1;
    transition: width ease-in-out .2s;
}

a.button:hover::after, form button[type="submit"]:hover::after, #newBtn:hover::after {
    width: 100%;
}


.select {
    position: relative;
    display: inline-block;
    width: 100%;
}    .select select {
        margin-top: 8px;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px dashed #fff;
        border-radius: 8px;
        background: #4682fc;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background: #4682fc;
        }
        .select select:disabled {
            opacity: 0;
            pointer-events: none;
        }
.select_arrow {
    margin-top: 8px;
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #ffffff;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #ffffff;
}

#form-delete button {
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #d32f2f;
    width: 100%;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                               INDEX TEACHERS                               */
/* -------------------------------------------------------------------------- */

.table-container {
    background-color: white;
    max-height: 700px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 48px;
    grid-gap: 0px;
}

.table-container div.table {
    max-height: 700px;
    overflow: auto;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

thead {
    background-color: var(--primary);
    color: white;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

tbody tr:last-child td {
    border-bottom: none;
}
tbody tr:hover {
    background-color: rgb(247, 247, 247);
}
tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}
tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
}

td a {
    color: white;
    padding: 8px;
    border-radius: 4px;
}
td a:first-child {
    margin-right: 4px;
}
td a:hover {
    opacity: 0.9;
}
td a:nth-child(1) {
    background-color: var(--primary);
    filter: brightness(1.6);
}
td a:nth-child(2) {
    background-color: #fb8c00;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.table-container thead tr th:nth-last-child(2),
td:nth-last-child(2) {
    text-align: center;
}

#newBtn {
    margin-top: 0;
    padding: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--secondary);
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 0;
    box-shadow: 0px -6px 20px -15px black;
}

#newBtn::after{
    border-radius: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   FILTERS                                  */
/* -------------------------------------------------------------------------- */

.contentHeader {
    margin: 32px auto 0;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.contentHeader form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.contentHeader form button{
    margin: 0;
    background-color: var(--primary);
    color: white;
}

.contentHeader form input{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 9px;
    box-sizing: border-box;
}