@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

:root {
    --primary: #cad2c5;
    --secondary: #354f52;
    --shade03: #52796f;
    --shade04: #84a98c;
    --background: #2f3e46;
    --text: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

header {
    background-color: var(--secondary);
    width: 100%;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

header .menuItem:nth-child(1) {
    margin-right: 32px;
}

header .menuItem a {
    color: white;
    text-decoration: none;
}

header .menuItem.active p,
header .menuItem.active a {
    font-weight: bold;
    color: var(--primary);
}

header .menuItem:hover,
header .menuItem:hover a {
    cursor: pointer;
    color: var(--primary);
}

/* -------------------------------------------------------------------------- */
/*                                    CARD                                    */
/* -------------------------------------------------------------------------- */

.card {
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    position: relative;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
    animation: up 700ms ease-out;
}

.card section.avatar {
    background: url(https://source.unsplash.com/collection/1096192/) no-repeat left center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.card section.details {
    width: 500px;
    height: 600px;
    position: relative;
    right: 0;
    background-color: white;
    color: black;
    padding: 16px;
    box-sizing: border-box;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

.details-wrap {
    filter: drop-shadow(8px 0px 4px rgba(50, 50, 0, 0.7));
}

.card section.details div.details-content {
    padding-right: 100px;
}


@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}