{% extends "layout.njk" %}


{% block content %}

    <div class="card">

        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center; background-size: cover;"></section>
            <div class="details-wrap">
                <section class="details">
                        <div class="details-content">
                            <h3>Edit Student</h3>

                            <form method="POST" action="/students?_method=PUT" autocomplete="off">

                                {% include 'students/fields.njk' %}

                                <input type="hidden" name="id" value="{{ student.id }}">

                                <button type="submit">Save</button>
                            
                            </form>

                            <form id="form-delete" method="POST" action="/students?_method=DELETE">
                                <input type="hidden" name="id" value="{{ student.id }}">
                                {% include 'deleteBtn.njk' %}
                            </form>

                        </div>

                </section>
            </div>
    
    </div>

{% endblock content %}