{% extends "layout.njk" %}


{% block content %}

    <div class="card table-container">
        <div class="table">
            <table width="100%">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Subjects</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>
                                <span style="background-image: url({{ teacher.avatar_url }});"></span>
                                {{ teacher.name }}
                            </td>
                            <td>
                                {% for subject in teacher.subjects.split(',') %}
                                    <span class="subject">{{ subject }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/teachers/{{ teacher.id }}"><i class="fas fa-eye"></i></a>
                                <a href="/teachers/{{ teacher.id }}/edit"><i class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="/teachers/create" id="newBtn">New Teacher</a>
    </div>

{% endblock content %}