<!DOCTYPE html>
<head>
    

    {% block head %}
        
        <title>Private Classes</title>
        
    {% endblock %}
    
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>

        <a href="/teachers">
            <div class="menuItem">
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
                <p>Teachers</p>
            </div>
        </a>

        <a href="/students">
            <div class="menuItem">
                <i class="fas fa-user-graduate fa-2x"></i>
                <p>Students</p>
            </div>
        </a>
        
    </header>

    {% block content %}

    {% endblock %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>