{% extends "layout.njk" %}


{% block content %}
    
    <form class="card" method="POST" action="/teachers" autocomplete="off">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/1096192/) no-repeat center; background-size: cover;"></section>
        <div class="details-wrap">
            <section class="details">
                <div class="details-content">
                    
                    <h3>New Teacher</h3>

                    {% include 'teachers/fields.njk' %}

                    <button type="submit">Create</button>

                </div>
            </section>
        </div>
    </form>

{% endblock content %}