{% extends "layout.njk" %}


{% block content %}
    
    <div class="card">
        <section class="avatar"></section>
        <div class="details-wrap">
            <section class="details">
                <div class="details-content">
                    
                </div>
            </section>
        </div>
    </div>

{% endblock content %}